<app-form-filer (dateChanges)="dateChangesHandler($event)"></app-form-filer>

<agm-map #googleMap [latitude]="defaultMapLatitude" [longitude]="defaultMapLongitude" [zoom]="6">
  <ng-container *ngFor="let data of mapEntries">
    <agm-marker *ngIf="!data.isHidden"
                [latitude]="data.localisation.latitude"
                [title]="data.name +'-'+ data.description"
                [longitude]="data.localisation.longitude"
                (mouseOver)="showMarkerDetails(infoWindow,googleMap)">
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <h3>{{trimTooLongName(data.name)}}</h3>
        <h5>{{data.date | date: 'yyyy-MM-dd'}}</h5>
        <div>
          {{trimTooLongDescription(data.description)}}
        </div>
      </agm-info-window>
    </agm-marker>
  </ng-container>
</agm-map>
