<form id="add-entry-form"
      class="example-container"
      [formGroup]="newEntryForm"
      (keydown.enter)="$event.preventDefault()">

  <mat-form-field class="entry-form-field-50">
    <input id="nameInput" matInput placeholder="Name of an entry" formControlName="name">
  </mat-form-field>
  <br>

  <mat-form-field class="entry-form-field-50">
    <input id="dateInput" matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>

  <div formGroupName="localisation">
    <mat-form-field class="entry-form-field-30">
      <input id="locationInput" #localisationSearch
             matInput
             placeholder="search for location"
             autocorrect="false"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             class="form-control"
             formControlName="place">
    </mat-form-field>
    <mat-form-field class="entry-form-field-30">
      <input matInput id="longitude"
             placeholder="Longitude"
             formControlName="longitude">
    </mat-form-field>
    <mat-form-field class="entry-form-field-30">
      <input matInput id="latitude"
             placeholder="Latitude"
             formControlName="latitude">
    </mat-form-field>
  </div>
  <br>

  <mat-form-field class="entry-form-field-100">
      <textarea id="descriptionInput"
                placeholder="Description"
                matInput="Description"
                formControlName="description"></textarea>
  </mat-form-field>
  <br>

  <button id="addEntryBtn"
          mat-raised-button
          [mat-dialog-close]="newEntryForm.value"
          cdkFocusInitial
          class="entry-form-submit">
    Submit
  </button>
</form>
