mat-form-field {
  padding-right: 0.5rem;
}

.entry-form-field-50 {
  width: 50%;
}

.entry-form-field-30 {
  width: 33%;
}

.entry-form-field-100 {
  width: 100%;
}

.entry-form-submit {
  float: right;
}
