<article>
  <mat-sidenav-container class="container">
    <mat-sidenav disableClose opened mode="side" position="end" class="sidenav">
      <app-chat></app-chat>
    </mat-sidenav>
    <div>
      <app-map></app-map>
    </div>
    <div>
      <app-map-entry-form-wrapper
        (changePositionOnMap)="changeMapPositionHandler($event)"
        (showAllOnMap)="showAllEntries()">
      </app-map-entry-form-wrapper>
    </div>
  </mat-sidenav-container>
</article>
