<div>
  <mat-card class="chat-message" @fadeInOut>
    <mat-card-content>
      <p>
        Welcome in Traveller App and have a nice day !
      </p>
    </mat-card-content>
    <mat-card-footer class="message-footer" appChatTime></mat-card-footer>
  </mat-card>
  <mat-card class="chat-message" *ngFor="let entry of newEntries" @fadeInOut>
    <mat-card-header>
      <mat-card-title>Traveller Service</mat-card-title>
      <mat-card-subtitle>Notification</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        New place in {{entry.name}} was added
      </p>
    </mat-card-content>
    <mat-card-footer class="message-footer" appChatTime></mat-card-footer>
  </mat-card>
</div>
