<section class="section-wrapper">
  <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="10px">
    <button id="open-entry-form-btn"
            mat-raised-button
            color="primary"
            (click)="openDialog()">
      Add new entry
    </button>
  </div>
</section>
