/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

--- common
.cur-pointer {
  cursor: pointer;
}
