<form [formGroup]="form">

  <mat-form-field class="entry-form-field-35">
    <input matInput id="dateFromInput" [matDatepicker]="pickerFrom" placeholder="Date from ..."
           formControlName="dateFrom"
           (dateInput)="datesChangeHandler()">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="entry-form-field-35">
    <input matInput id="dateToInput" [matDatepicker]="pickerTo" placeholder="Date to ..." formControlName="dateTo"
           (dateInput)="datesChangeHandler()">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <button id="clearFiltersBtn"
          mat-raised-button
          class="entry-form-field-15 clear-btn"
          type="button" (click)="clearFiltering()">
    Clear filtering
  </button>
</form>
