<article fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Google Maps</mat-card-title>
      <mat-card-subtitle>Date launched: February 8, 2005</mat-card-subtitle>
    </mat-card-header>
    <img src="/assets/images/google-maps-welcome.jpeg" alt="Google Maps graphic">
    <mat-card-content>
      <p>
        Google Maps is a web mapping platform and consumer application offered by Google.
        It offers satellite imagery, aerial photography, street maps, 360° interactive panoramic views of streets,
        real-time traffic conditions, and route planning for traveling by foot, car, bike, air and public
        transportation.
      </p>
    </mat-card-content>
  </mat-card>

</article>
