<mat-toolbar color="primary" class="toolbar">
  <div class="cur-pointer" [routerLink]="['/']">Sample app</div>
  <div fxFlex fxLayoutAlign="end start">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleUserChange($event,'5ae47b387f71d71e00e8db5a')">
        <mat-icon>person_pin</mat-icon>
        <span>User1 (5ae47b387f71d71e00e8db5a)</span>
      </button>
      <button mat-menu-item (click)="handleUserChange($event,'5ae47b387f71d71e00e8db5b')">
        <mat-icon>person_pin</mat-icon>
        <span>User2 (5ae47b387f71d71e00e8db5b)</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
